*{
    box-sizing: border-box;
   
}

html{
    background-image: url('background.jpg');
    background-size: cover;
}

body{
    margin: auto;
    font-family: "roboto",sans-serif;

}

.container{
    width: 65%;
    height: 50%;
    padding:65px;
    margin: auto;
    margin-top: 20px;
    background-color: rgba(16, 16, 16, 0.6);
    color: white;
    border-radius: 15px;
    font-size: small;
    
}

.cta {
    background-color: #00dd00;
    padding: 10px;
    height: 40px;
    margin-bottom: 15px;
}
    
    


header {
    text-align: center;
    color: #00dd00;
}

.logo {
    width: 200px;
    height: auto;
   
}

label {
    font-size: 18px;
}

.carica {
    height: 24px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.primaBarra{
    width: 300px;
    background-color: #f5b453;
}
.secondaBarra{
    width: 500px;
    background-color: #1ec31e;
}
.terzaBarra {
    width: 120px;
    background-color: #be4141;
}

p {
    margin: 3px;
}

